<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steam Random Game</title>
</head>
<body>
<h1>Welcome to Steam Random Game</h1>

<button onclick="window.location.href='index'">Home</button>
<button onclick="window.location.href='update'">Update List</button>
<button onclick="window.location.href='search_index'">Search by Index</button>
<button onclick="window.location.href='search_id'">Search by ID</button>
<button onclick="window.location.href='search_name'">Search by Name</button>
<button onclick="window.location.href='randomized_game'">Get a Random Game</button>

</body>
</html>
