<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Game by Name</title>
    <link rel="stylesheet" href="/css/search_name.css">
    <script src="/js/search_name.js"></script>
</head>
<body>
<h1>Search Game by Name</h1>

<!-- Search input and button -->
<input type="text" id="gameName" placeholder="Enter Game Name">
<button onclick="searchGame()">Search</button>

<!-- Table to display game information -->
<table id="gameTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody id="gameInfo"></tbody>
</table>

<!-- Error message -->
<p id="errorMessage">No games found with that name. Please try another name.</p>
<button onclick="window.location.href='index'">Back to Home</button>

</body>
</html>