<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Game List</title>
    <link rel="stylesheet" href="/css/update.css">
    <script src="/js/update.js"> </script>
</head>
<body>
<h1>Update Steam Game List</h1>
<button onclick="updateGames()">Update List</button>
<button onclick="window.location.href='index'">Back to Home</button>
<p id="updateResponse"></p>

<!-- Table to display games -->
<table id="gameTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody id="gameList"></tbody>
</table>

<!-- Pagination controls -->
<div id="pagination">
    <button onclick="previousPage()" id="prevPage">Previous</button>
    <span id="pageInfo">Page 1 of 1</span>
    <button onclick="nextPage()" id="nextPage">Next</button>
</div>

</body>
</html>